<header>
    <div>
        <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
            <img src="https://www.pngmart.com/files/13/Instagram-Logo-PNG-Clipart.png" alt="logo"
                style="margin-left: 3rem; width: 3rem;">
            <div class="navbar-nav" style="margin-right: 3rem;">
                <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a class="nav-item nav-link" [routerLink]="['/newuser']" routerLinkActive="active">Nuevo
                    usuario</a>
            </div>
        </nav>
    </div>
</header>