<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
            <img src="https://images.vexels.com/media/users/3/224282/isolated/preview/c09e11bba1766e8412ce116e1afb4a58-logo-de-lineas-abstractas-violetas.png"
                alt="logo" style="margin-left: 3rem; width: 3rem;">
            <div class="navbar-nav" style="margin-right: 3rem;">
                <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
                <a class="nav-item nav-link" [routerLink]="['/newuser']">Nuevo usuario</a>
            </div>
        </nav>
    </div>
</header>