<header>
    <div>
        <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between">
            <img src="https://i.pinimg.com/originals/79/7a/fe/797afe1351677d0ad8787224e6a5be2a.png" alt="logo"
                style="margin-left: 3rem; width: 4rem;">
            <div class="navbar-nav" style="margin-right: 3rem;">
                <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                <a class="nav-item nav-link" [routerLink]="['/newuser']" routerLinkActive="active">Nuevo
                    usuario</a>
            </div>
        </nav>
    </div>
</header>