<div
    style="display: flex;border: 0.1rem solid gray; max-width: 50rem; margin-left: auto; margin-right: auto; margin-top: 7rem;">
    <div style="padding: 2rem; max-width: 100%; flex-basis: 40%">
        <img [src]="myUser?.image" class="rounded-circle img-fluid" alt="user-image">
    </div>
    <div style="flex-basis: 60%; padding: 3rem;">
        <div>
            <h5 style="font-size: 2rem; margin-bottom: 1rem;">{{myUser?.first_name}}</h5>
            <h5 style="font-size: 2rem; margin-bottom: 1.5rem;">{{myUser?.last_name}}</h5>
            <p style="font-size: 1rem; margin-bottom: 1rem;"><strong>Nombre de
                    usuario: </strong>{{myUser?.username}}</p>
            <p style="font-size: 1rem; margin-bottom: 1rem;"><strong>Email: </strong>
                {{myUser?.email}}</p>
        </div>
        <div style="display: flex;">
            <button type="button" class="btn btn-secondary m-1" (click)="deleteUser()">Eliminar</button>
            <button type="button" class="btn btn-secondary m-1"
                [routerLink]="['/updateuser', myUser?._id]">Actualizar</button>
            <button type="button" class="btn btn-secondary m-1" [routerLink]="['/home']">Volver al
                listado</button>
        </div>
    </div>
</div>