<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 5rem;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" style="cursor: pointer;" (click)="previous()"
                    [ngClass]="{'text-secondary pe-none user-select-none' : page === First , 'text-black pe-auto user-select-all' : page !== First}">
                    <span aria-hidden=" true">&laquo;</span>
                    <span class="sr-only m-1">Anterior</span>
                </a>
            </li>
            <li *ngFor=" let p of totalPages; let i = index" class="page-item">
                <a class="page-link text-black" style="cursor : pointer" (click)="setPage(i+1)"
                    [ngClass]="{'bg-secondary text-white' : (i + 1) === page}">
                    {{ i + 1}}
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" style="cursor: pointer;" (click)="next()"
                    [ngClass]="{'text-secondary pe-none user-select-none' : page === Last , 'text-black pe-auto user-select-all' : page !== Last}">
                    <span class="sr-only m-1">Siguiente</span>
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>